<% @questions.each do |question| %>
	<h1><%= question.body %></h1>
<% end %>

	<%= form_tag(:action => "check") do %>
	<!-- , :id => question.id -->
		<%= button_tag("True", name: "answer", value: "true") %>
		<%= button_tag("False", name: "answer", value: "false") %>
	<% end %>	

*************** <%= @answer %> ****************


